.names {
  color: goldenrod;
  padding-bottom: 0.5rem;
}

/* TO DO */
/* 1. Add bets so that I can see what the other cards look like and the figure out how to have a certain amount of them show  */
/* 2. Figure out how to make them go vertically in columns */
/* *idea* Would it make more sense to paginate through them? Or should I see all of them at once? */

.card-container {
}

.allCardBets {
  width: 500px;
  max-height: 100px;
}

.text-span {
  display: flex;
  align-items: center;
  font-weight: 200;
  font-style: italic;
  justify-content: space-evenly;
  font-size: x-small;
}

#winnings-span {
  margin-right: 15px;
}

.bet-and-odds {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bet-and-odds h2 {
  font-size: 1.5rem;
}

.wagered-and-won {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h3 {
  font-size: large;
}
