body {
  background-color: black;
}

.text-color {
  color: goldenrod;
}

.custom-btn {
  background-color: goldenrod;
  color: white;
  border-color: goldenrod;
}

.custom-btn:hover {
  background-color: gold;
  color: white;
  border-color: goldenrod;
}

#weekNumber {
  color: goldenrod;
  margin-left: 6%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
#allBetsWeek {
  color: goldenrod;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 3rem;
}
