.dashboard {
  width: 400px;
  height: 275px;
}

#dashName h2 {
  font-size: 2.5rem;
  position: absolute;
  top: 10%;
  left: 12%;
}

#dashTotal {
  position: absolute;
  top: 20%;
  left: 65%;
  text-align: center;
}

#dashWeeklyMoney {
  position: absolute;
  top: 40%;
  left: 10%;
  text-align: center;
}

#dashFuturesMoney {
  position: absolute;
  top: 70%;
  left: 10%;
  text-align: center;
}

.bet-card {
  width: 500px;
  height: 100px;
}

.name-odds {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.amount-winnings {
  display: flex;
  justify-content: space-between;
}
